NEXT_PUBLIC_SUPABASE_URL=http://placeholder-will-be-replaced
NEXT_PUBLIC_SUPABASE_ANON_KEY=placeholder-will-be-replaced
SUPABASE_SERVICE_ROLE_KEY=placeholder-will-be-replaced
GROQ_API_KEY=placeholder-will-be-replaced
GOOGLE_API_KEY=placeholder-will-be-replaced
GOOGLE_API_KEY_2=placeholder-will-be-replaced
RAG_SERVICE_URL=http://localhost:8000
